
<div class="footer">
	<div class="copyright">
        <!--底部连接：bottomlink-->
        <div class="bottomlink">
            <a href="diypage.asp?url=links.html">友情链接</a> |
            <a href="guestbook.asp">用户留言</a> |
            <a href="diypage.asp?url=help.html">帮助文档</a> |
            <a href="http://www.eekku.com">官方网站</a> |
            <a href="http://www.liufu.org/ling">作者主页</a>
        </div>
    	 &copy; 2009  <a href="{sys:siteurl /}">{sys:sitename /}</a> All Rights Reserved。
          Power by {sys:syslink /} <a href="{sys:studiourl /}">
      
    </div>
    <!-- Copyright End -->
</div>
<!-- Footer End -->
