<div class="header">
	<div class="top">
    	<div class="nav">
        	<ul>
             <li> <a href="index.asp" >首页</a> </li>
             <li> <a href="artlist.asp" >日志</a> </li>
             <li> <a href="piclist.asp" >相册</a> </li>
             <li> <a href="diypage.asp?url=download.html" >下载</a> </li>
             <li> <a href="guestbook.asp" >留言簿</a> </li>
             <li> <a href="diypage.asp?url=help.html" >帮助文档</a> </li>
 			 <li> <a href="diypage.asp?url=links.html" >友情连接</a> </li>
			<li><a href="http://www.eekku.com" target="_blank">E酷网官方</a></li>
			<li><a href="http://ling.liufu.org" target="_blank">零星碎事</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <!-- Nav End -->
    </div>
    <!-- Top End -->
    <div class="banner">
    	<img src="images/banner.jpg" border="0" />
    </div>
	<!-- Banner End -->
</div>
<!-- Header End -->