<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>文章列表 - {sys:sitename/} - powered by eekku.com</title>
<meta name="keywords" content="{sys:keywords /},eekkucms">
<meta name="description" content="{sys:sitedesc /},eekkucms">
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/piclist.css" rel="stylesheet" type="text/css" />
<style>
.context{	width:638px; clear:both;}
</style>
</head>
<body>
<!--头部开始-->
<div class="top cbody">
	{include file="top.html"}
</div>
<!--导航栏-->
<div class="topmenu cbody">
	<ul>
		<li><a href="index.asp">首页</a></li>
        <li><a href="artlist.asp">文章</a></li>
        <li><a href="piclist.asp" class="on">图片</a></li>
        <li><a href="guestbook.asp">留言</a></li>
        <li><a href="diypage.asp?url=download.html">下载</a></li>
        <li><a href="diypage.asp?url=help.html">帮助文档</a></li>
        <li><a href="diypage.asp?url=links.html">友情链接</a></li>
        <li><a href="http://www.eekku.com" target="_blank">E酷网官方</a></li>
        <li><a href="http://www.liufu.org/ling" target="_blank">作者主页</a></li>
	</ul>
</div>

<!--内容-->
<div class="main cbody margintop">
	<!--左侧-->
  <div class="pmain">
		<!--位置导航-->
		<div class="thisplace">
				当前位置 :{sys:sitepath/}
		</div>
		
        <!--列表-->
        <div class="leftlist">
            <div class="ptitle"><div class="txt">图片列表</div></div>
			<div class="pleft">

                {list:pic src="picture" column="auto" class="piclist"  row="3" col="3"  ispage="true"}
                    <dl>
                    <dd><a href="[pic:url]">
                        <img src="[pic:PicPath]" class="img" width="140" height="100" />
                        </a> </dd>
                    <dd><a href="[pic:url]">[pic:title]</a> </dd>
                    </dl>
                {/list:pic}
		  </div>
           <div class="page">{tag:page /}</div>
        </div>
        
	</div>

	<!--右侧-->
	<div class="pside">
    
    
        <!--侧边信息列表-->
		<div class="rlist">
			<div class="title">栏目导航</div>
				<div class="rbox gplist">

					<ul>
                    
                    <!--获取当前栏目-->
                    {list:col mode="table" row="1" col="1"  table="PicColumn" where="ID={sys:id /}"}
                    	<li><a href="artlist.asp?id=[col:id]" title="">[col:name]</a></li>
                    {/list:col}
                    
                    <!--获取下一级栏目-->
                    {list:column mode="table" row="10" col="1"  table="PicColumn" where="ParentID={sys:id /}" order="id"}
                        <li>
                        	{if: {sys:id/}<>0 } |-- {/if} 	<!--判断是否有ID传入-->
                        	<a href="artlist.asp?id=[column:id]" title="">[column:name]</a>
                        </li>
                     
                        {list:child mode="table" row="10" col="1"  table="PicColumn" where="ParentID=[column:id]" order="id"}
                       		<li>&nbsp;&nbsp; |-- <a href="artlist.asp?id=[child:id]" title="">[child:name]</a></li>
                        {/list:child} 	

                    {/list:column}
                    {if: {sys:id /} <> 0 }
                        <li> <== <a href="artlist.asp" title="">返回父栏目</a></li>
                     {/if}
					</ul>
				</div>
		</div>
        
        <!--侧边信息列表-->
		<div class="rlist margintop">
			<div class="title">热点关注</div>
				<div class="rbox gplist">
                        <ul>
                           {list:pic src="picture" row="10" col="1" order="hot"}
                             <li><span class="gptlink"><a href="[pic:url]">[pic:title len="40"]</a></span></li>
                           {/list:pic}
                        </ul>
				</div>
		</div>
        

	</div>
	<div class="floatclear"><!--清除浮动--></div>
</div>


<!--页面底部-->
<div class="footer cbody margintop">
		<div class="copyright"> 
                <div style="font-size:12px"> <a href="{sys:siteurl /}">{sys:sitename /}</a>  
                <a href="http://www.miibeian.gov.cn/">[备案信息]</a>              
            </div>  
    		Powered by  Power by {sys:syslink /}. &copy;2009  <a href="http://www.eekku.com/" target="_blank">Eekku Studio.</a> 
      
	</div>
   
</div>


</body>
</html>
