<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{sys:title /} - {sys:sitename /} - Powered by eekku.com</title>
<meta name="keywords" content="{sys:sitekeywords /}"/>
<meta name="description" content="{sys:sitedesc /}"/>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/artlist.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<!--header start--->
    {include file="header.html"/}
    <!--header end--->
    
    <!--main start--->
    <div id="main">
    	<div class="container">
        
        		<!--notice--->
        		<div class="location">
                	你现在的位置：{sys:sitepath /}
                </div>
                
				<div class="column_side">
                
                        <!--栏目-->
                        <div class="box">
                          <div class="title"><span class="titletxt">栏目导航</span></div>
                            <div class="content">
                                <ul>
                                
                                    <!--获取当前栏目-->
                                    {list:col mode="table" row="1" col="1"  table="ArtColumn" where="ID={sys:id /}"}
                                        <li><a href="[col:url]" title="">[col:name]</a></li>
                                    {/list:col}
                                    
                                    <!--获取下一级栏目-->
                                    {list:column mode="table" row="10" col="1"  table="ArtColumn" where="ParentID={sys:id /}" order="id"}
                                        <li>
                                            {if: {sys:id/}<>0 }<!--判断是否有ID传入--> |-- {/if}
                                            <a href="[column:url]" title="">[column:name]</a>
                                        </li>
                                     
                                        {list:child mode="table" row="10" col="1"  table="ArtColumn" where="ParentID=[column:id]" order="id"}
                                            <li>&nbsp;&nbsp; |-- <a href="[child:url]" title="">[child:name]</a></li>
                                        {/list:child} 	
                
                                    {/list:column}
                                    
                                    <!--如果是子栏目，则增加返回父栏目选项-->
                                    {if: {sys:id /} <> 0 }
                                        <li> <== <a href="artlist.asp" title="">返回父栏目</a></li>
                                     {/if}
                     
                                </ul>
                            </div>
                        </div>
                
                        <!--栏目-->
                        <div class="box">
                          <div class="title"><span class="titletxt">热门文章</span><span class="more"><a href="list.html">更多>></a></span></div>
                            <div class="content">
                                <ul>
                                {list:hot  row="10" col="1" order="hot"}
                                <li><a href="[hot:url]" title="">[hot:title len="15" lenext="..."]</a></li>
								{/list:hot}
                                </ul>
                            </div>
                        </div>
                        
                </div>
                <div class="column_main">
                		<div class="list">
                            <div class="list_title">文章列表</div>
                            	<table>
                                {list:art src="art" column="auto"  row="20" col="1" ispage="true"}
                                	<tr>
                                    	<td class="article"><a href="[art:url]" title="[art:title]">[art:title len="30" len="..."]</a></td>
                                        <td class="time">[art:createtime format="yyyy-mm-dd"]</td>
                                    </tr>
								{/list:art}
                                </table>
                           <div class="pagebar">{tag:page /}</div>
                        </div>
               </div>
               <div class="clear"></div>
        </div>
    </div>
    <!--main end--->
    
    <!--footer start--->
	{include file="footer.html" /}
    <!--footer end--->
</div>
</body>
</html>
<!--- 制作：刘付灵  E-mail:Foolin@126.com --->


