<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{sys:sitename /}</title>

<style type="text/css">
<!--
.list {
	font-size: 14px;
	background:#CCC;
}
table.list{
	border-collapse:collapse;
}
table.list td {
	border:#093 2px solid;
}
-->
</style>
</head>

<body>
{diypage : title len="1" lenext="..."}<br />
{diypage:keywords  len="10" lenext="..." /}<br />
{diypage:content lenext="..."}<br />
</body>
</html>
