    <!--footer start--->
    <div id="footer">
            <div class="pannel">
                    <!--底部连接：bottomlink-->
                    <div id="bottomlink">
                        <a href="article.html">设为首页</a> |
                        <a href="article.html">关于我们</a> |
                        <a href="article.html">网站导航</a> |
                        <a href="article.html">法律声明</a> |
                        <a href="article.html">联系我们</a> |
                        <a href="article.html">后台管理</a>
                    </div>
                 
                    <!--底部版权信息：copyright-->
                    <div id="copyright">
                            广州大学档案馆<br />
                            联系地址：广州市外环西路230号(510006) <br />
                            联系电话：020—838228×× 传真号码：020—838032×× 电子邮箱：master@website.com<br />
                    </div>
            </div>
    </div>
    <!--footer end--->
