    <!--footer start--->
    <div id="footer">
            <div class="pannel">
                    <!--底部连接：bottomlink-->
                    <div id="bottomlink">
                        <a href="article.html">设为首页</a> |
                        <a href="article.html">关于我们</a> |
                        <a href="article.html">网站导航</a> |
                        <a href="article.html">法律声明</a> |
                        <a href="article.html">联系我们</a> |
                        <a href="article.html">后台管理</a>
                    </div>
                 
                    <!--底部版权信息：copyright-->
                    <div id="copyright">
                            E酷工作室（零星碎事）<br />
			HomePage: http://Ling.Liufu.org<br />
                            E-mail:Foolin@126.com<br />
                    </div>
            </div>
    </div>
    <!--footer end--->


