	<!--header start--->
    <div id="header">
    	<div class="logo">
            <div class="site_title"> {sys:sitename /}
            <div class="site_url">{sys:siteurl /}</div>
            </div>
        </div>
        <div class="banner">
        	<div class="site_desc">
            	<span class="line">欢迎使用E酷内容管理系统（E酷CMS），</span><br />
     			<span class="line">一个小型站点的内容管理系统，轻盈小巧，简便易用...</span>
            </div>
        </div>
    </div>
    <!--header end--->








    <!--menu start--->
    <div id="menu">
            <div class="pannel">
                     <ul>
 			<li><a href="index.asp">首页</a></li>
 			<li><a href="artlist.asp">文章</a></li>
 			<li><a href="piclist.asp">图片</a></li>
            <li><a href="guestbook.asp">留言</a></li>
            <li><a href="diypage.asp?url=download.html">下载</a></li>
 			<li><a href="diypage.asp?url=help.html">帮助文档</a></li>
            <li><a href="diypage.asp?url=links.html">友情链接</a></li>
			<li><a href="http://www.eekku.com" target="_blank">E酷网官方</a></li>
			<li><a href="http://www.liufu.org/ling" target="_blank">作者主页</a></li>
 		</ul>
                    <div class="clear"></div>
            </div>
    </div>
    <!--menu end--->































