	<!--header start--->
    <div id="header">
    	<div class="logo">
            <div class="site_title"> {my:sitename /}
            <div class="site_url">{my:siteurl /}</div>
            </div>
        </div>
        <div class="banner">
        	<div class="site_desc">
            	<span class="line">零星碎事，记录生活的点点滴滴。</span><br />
     			<span class="line">不要只顾着抬头望别人，而忘记了走自己的路...</span>
            </div>
        </div>
    </div>
    <!--header end--->

    <!--menu start--->
    <div id="menu">
            <div class="pannel">
                    {my:Menu /}
                    <div class="clear"></div>
            </div>
    </div>
    <!--menu end--->