	<!--header start--->
    <div id="header">
    	<div class="logo">
            <div class="site_title"> {sys:sitename /}
	     {my:SubName}
            <div class="site_url">{sys:siteurl /}</div>
            </div>
        </div>
        <div class="banner">
        	<div class="site_desc">
            	<span class="line">零星碎事，记录生活的点点滴滴。</span><br />
     			<span class="line">不要只顾着抬头望别人，而忘记了走自己的路...</span>
            </div>
        </div>
    </div>
    <!--header end--->








    <!--menu start--->
    <div id="menu">
            <div class="pannel">
                     <ul>
 			<li><a href="index.asp">首页</a></li>
 			<li><a href="artlist.asp">日志</a></li>
 			<li><a href="piclist.asp">图片相册</a></li>
 			<li><a href="diypage.asp?id=1">自定义页面演示</a></li>
			<li><a href="http://www.eekku.com" target="_blank">E酷网官方</a></li>
			<li><a href="http://ling.liufu.org" target="_blank">零星碎事</a></li>
 		</ul>
                    <div class="clear"></div>
            </div>
    </div>
    <!--menu end--->































