<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>蜜酿工房甜品培训加盟网</title>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="scripts/common.js"></script>
<script language="javascript" type="text/javascript" src="scripts/flash.js"></script>
<script language="javascript" type="text/javascript" src="scripts/slide-effect.js"></script>
<style type="text/css">
<!--
.subcontainer{clear:both;}
.subcolumn-A{ width:45%; float:left;}
.subcolumn-B{ width:55%; float:left;}
* +html .hr-IE7bug{ height:1px;}	/*Hack: 修复IE7下的bug*/
-->
</style>
</head>

<body>
<div class="wrapper">
	<div class="header">
        <div class="loveFav">
                <a href="#" onclick="return HomePage.call(this);"> 设为首页</a>  &nbsp;|&nbsp;
                <a href="#" onclick="return Love();">添加收藏</a> &nbsp;|&nbsp;
                <a href="javascript:open('about-us');">联系我们</a>
        </div>
        <!-- loveFav end -->
        
      <div class="top-flash">
		<script language="javascript" type="text/javascript">
			<!--
				writeflashhtml("_swf=images/top.swf", "_width=780", "_height=120" ,"_wmode=transparent");
			-->
            </script>
        </div>
        <!-- top-flash end -->
    </div>
    
    <!-- header end -->
  	<div class="hr"></div>
  	<div class="nav">
    	<ul>
        	<li><a href="index.html">首页</a></li>
            <li><a href="list.html">新闻动态</a></li>
            <li><a href="list.html">培训项目</a></li>
            <li><a href="list.html">产品展示</a></li>
            <li><a href="list.html">公司介绍</a></li>
            <li><a href="list.html">我要加盟</a></li>
            <li><a href="list.html">联系我们</a></li>
        </ul>
    </div>
    <!-- nav end -->
    
  	<div class="hr"></div>
    <div class="main">
		<div class="container">
        	<div class="column-sider">
                            <!--栏目-->
                            <div class="boxA">
                              <div class="box-title"><span class="titletxt">--== 培训项目 ==--</span><span class="more"><a href="list.html">更多>></a></span></div>
                                <div class="box-content">
                                    <ul>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--栏目-->
                            <div class="boxA">
                              <div class="box-title"><span class="titletxt">--== 甜品学堂  ==--</span><span class="more"><a href="list.html">更多>></a></span></div>
                                <div class="box-content">
                                    <ul>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    <li><a href="article.html" title="蜜酿工房甜品培训加盟网正在建设中">蜜酿工房甜品店正在建设中</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--栏目-->
                            <div class="boxA">
                              <div class="box-title"><span class="titletxt">--== 联系方式  ==--</span></div>
                                <div class="box-content">
                                    <ul class="li-slide">
                                    <li>手机：1342023934114</li>
                                    <li>QQ：2023934114</li>
                                    <li>电话：2023934114</li>
                                    <li>传真：2023934114</li>
                                    <li>邮件：meltme@126.com</li>
                                    <li>地址：广州大学城商业中心蜜酿工房</li>
                                    </ul>
                                </div>
                            </div>
                            <!--栏目-->
                            <div class="boxA">
                              <div class="box-title"><span class="titletxt">--== 友情链接  ==--</span></div>
                                <div class="box-content">
                                    <ul class="li-slide">
                                    <li>您的链接</li>
                                    <li>您的链接</li>
                                    <li>您的链接</li>
                                    </ul>
                                </div>
                            </div>

            </div>
        	<div class="column-main">
            
            	<!-- subcontainer  start -->
            	<div class="subcontainer">
                        <div class="subcolumn-A">
                                <!--栏目-->
                                <div class="box">
                                  <div class="box-title">焦点图片</div>
                                    <div class="box-content">
             <div class="focuspic" style="text-align:center; padding-top:5px; padding-bottom:5px;">
            <SCRIPT type=text/javascript>
            <!--
            var focus_width=290;
            var focus_height=231;
            var text_height=30;
			//如果是IE浏览器
			if (navigator.userAgent.indexOf("MSIE")>= 0) {
			  focus_width=290;
			  focus_height=210;
			  text_height=20;
			}
            var swf_height = focus_height+text_height
            var order=new Array('','1','2','3','4','5');var xb;
            var pics="";
            var links="";
            var texts="";
            var imgUrl=new Array();
            var imgLink=new Array();
            var imgText=new Array();
            imgUrl[1]='http://news.gzhu.edu.cn/upload/info/null2009526306.jpg';
            imgLink[1]='http://news.gzhu.edu.cn/newsxp/index.jsp?id=8232';
            imgText[1]='二届四次教职工(工会会员)代表大会召开';
            imgUrl[2]='http://news.gzhu.edu.cn/upload/info/null200952393131.JPG';
            imgLink[2]='http://news.gzhu.edu.cn/newsxp/index.jsp?id=8219';
            imgText[2]='广州大学校友座谈联谊会召开';
            imgUrl[3]='http://news.gzhu.edu.cn/upload/info/null200952242143.jpg';
            imgLink[3]='http://news.gzhu.edu.cn/newsxp/index.jsp?id=8216';
            imgText[3]='我校在市政务服务中心建立“精神文明共建基地”';
            imgUrl[4]='http://news.gzhu.edu.cn/upload/info/null200951493535.jpg';
            imgLink[4]='http://news.gzhu.edu.cn/newsxp/index.jsp?id=8178';
            imgText[4]='“广东中南声像灯光设计研究院”揭牌仪式昨日举行';
            imgUrl[5]='http://news.gzhu.edu.cn/upload/info/null200951292935.jpg';
            imgLink[5]='http://news.gzhu.edu.cn/newsxp/index.jsp?id=8169';
            imgText[5]='众志成城力争灾后重建早日胜利完成';
            var j=0;
                for (i=1;i<=5;i++) {
                        xb=order[i];
                    if( (imgUrl[xb]!='') && (imgLink[xb]!='') ) {
                                     if(j !=0){
                             pics=pics+'|';
                             links=links+'|';
                             texts=texts+'|';
                          }
              pics=pics+imgUrl[xb];
                                     links=links+imgLink[xb];
                                      texts=texts+imgText[xb];
                          j++;
                    } 
                }	
             document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
             document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="images/focuspic.swf"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">');
            document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
            document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
            document.write('<embed src="images/focuspic.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');		document.write('</object>');
            //-->
            </SCRIPT>
            </div>
                                    </div>
                                </div>
                        </div>
                        <!-- subcolumn-A end -->
                        
                        <div class="subcolumn-B">
                                <!--栏目-->
                                <div class="box">
                                  <div class="box-title"><span class="titletxt">--== 新闻动态  ==--</span><span class="more"><a href="list.html">更多>></a></span></div>
                                    <div class="box-content">
                                         <table>
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                              <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                                
                                                <tr><td> <a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td><td class="time">2009-5-20</td></tr>
                                            </table>
                                    </div>
                                </div>
                        </div>
                        <!-- subcolumn-B end -->
                        <div class="clear"></div>
               	</div>
                <!-- subcontainer end -->
                
                <div class="hr-IE7bug"></div>
                
            	<!-- subcontainer  start -->
            	<div class="subcontainer">
                                <!--栏目-->
                                <div class="box">
                                  <div class="box-title"><span class="titletxt">--== 公司简介  ==--</span><span class="more"><a href="list.html">更多>></a></span></div>
                                    <div class="box-content">
<div style="padding:5px; margin:5px;">
<h4 style="margin:5px;"> 蜜酿工房甜品店介绍</h4>
在超市里，我们可以见到各种各样包装精美的巧克力。那么它们都是怎样制作出来的呢﹖<br />

制作巧克力首先要弄清楚原料的品牌和性质。目前国内常见的巧克力原料品牌很多，其中较为纯正、品质较好的有“卡玛”、“瑞士莲”等，它们一般都是2千克一包的。巧克力原料的颜色一般有三种，即黑色、棕色和白色。<br />

黑色的巧克力含糖量较低，味道比较苦;棕色的巧克力是牛奶巧克力，口感非常好，深受人们欢迎;白色的巧克力是用可可油与奶和糖混合在一起制成的，并不是严格意义上的巧克力因为没有加入可可粉　，但用它添加油性色素，便可以调制出各种颜色的巧克力。<br />

</div>

                                    </div>
                                </div>
                                <!--栏目-->
                                <div class="box">
                                  <div class="box-title"><span class="titletxt">--== 产品展示  ==--</span><span class="more"><a href="list.html">更多>></a></span></div>
                                    <div class="box-content">
      									<a href="upload/pictures/01.jpg"><img src="upload/pictures/01.jpg"   class="img" width="140" height="110" /></a>
                                        
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/02.jpg"   class="img"  width="140" height="110" /></a>
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/03.jpg" class="img" width="140" height="110" /></a>
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/04.jpg" class="img" width="140" height="110" /></a>
      									<a href="upload/pictures/01.jpg"><img src="upload/pictures/01.jpg"   class="img" width="140" height="110" /></a>
                                        
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/02.jpg"   class="img"  width="140" height="110" /></a>
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/03.jpg" class="img" width="140" height="110" /></a>
                                        <a href="upload/pictures/01.jpg"><img src="upload/pictures/04.jpg" class="img" width="140" height="110" /></a>
                                    </div>
                                </div>
               	</div>
                <!-- subcontainer end -->
                
            </div>
            <!-- column-main end -->
        </div>
        <!--container end -->
        
    </div>
    <!-- main end -->
    
    <div class="hr"></div>
    <div class="footer">
        <div class="bottom-link">
        <a href="#">关于我们</a> - <a href="#">版权声明</a> - <a href="#">联系我们</a> - <a href="#">友情链接</a>
        </div>
        <div class="copyright">
    		蜜酿工房甜品培训加盟网  网址：http://www.meltme.cn<br />
            地址：广州市大学城商业中心蜜酿工房甜品店 电话：0203934111<br />
            Copyright&copy; 2009 蜜酿工房 ， All rights reserved。 设计&制作：<a href="http://www.eekku.com" target="_blank">Foolin</a>
        </div>
    </div>
    <!-- footer end -->
    
</div>
<!-- wrapper end -->

</body>
</html>
<!-- This site designed by Foolin   E-mail:Foolin@126.com -->
