	<div class="toplogo"><a href="index.asp"><img src="images/toplogo.gif" width="200" height="60" alt="{sys:sitename /}" /></a></div>
  <div class="topbanner"> 
  	<div style="line-height:28px; font-size:14px;">E酷内容管理系统（EekkuCMS）是一种小型站点内容管理系统，轻盈小巧，简便易用，是您建小型站点的明智选择！
    </div>
  </div>
	<div class="toplink">
		<ul>
			<li><a href="guestbook.asp">雁过留声</a></li>
			<li><a href='#' onClick="javascript:window.external.AddFavorite('{sys:siteurl/}','{sys:sitename/}');">收藏本站</a></li>
			<li><a href="http://www.eekku.com" target="_blank">E酷官方</a> </li>
		    <li><a href="http://www.liufu.org/ling/">网站演示</a></li>
		</ul>
	</div>