<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<main>
		<name>View Count</name>
		<author>Foolin</author>
		<version>1.0</version>
		<authorurl>http://www.eekku.com</authorurl>
		<description>统计文章浏览次数</description>
		<install></install>
		<uninstall></uninstall>
		<managepage></managepage>
	</main>
	<config>
		<key name="state" value="1" values="0=&gt;关闭|||1=&gt;开启" form="select" data="int" title="状态" description="是否开启浏览统计"/>
		<key name="show" value="1" values="0=&gt;不显示|||1=&gt;显示" form="select" data="int" title="显示信息" description="是否显示统计数字"/>
	</config>
</plugin>
